doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
  body
    header
      br 
      br
      h1 Add New Questions Page 
      br
      #buttonContainer 
        button.button(onclick="window.location.href='/adminHome'") Home
        form(action="/logout", method="post")
              button.button(type="submit") Log Out

      button.button#newQ(onclick="window.location.href='/viewQuestion'") Back

    main
        #setQues
            h4= quizname
            hr
            #block
                form(action="/addQues", method="post")
                    #ques
                        p Add Question
                        input(type="text", name="ques", id="quesInput" required)
                    #optionList
                        .options
                            label(for="ans1") Correct Answer
                            br
                            input(type="text", name="ans1" required)
                        .options
                            label(for="ans2") Wrong Answer
                            br
                            input(type="text", name="ans2" required)
                        .options
                            label(for="ans3") Wrong Answer
                            br
                            input(type="text", name="ans3" required)
                        .options
                            label(for="ans4") Wrong Answer
                            br
                            input(type="text", name="ans4" required)
                    button.btn(type="submit" name="done") DONE
                    button.btn#cancelBtn(type="submit" name="cancelBtn") CANCEL