doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
  body
    header
      br 
      br
      br
      h1 Add New Questions Page 
      br

      button.button#newQ(onclick="window.location.href='/viewQuestion'") Back

    main
        #setQues
            .block
                form(action="/addQues", method="post")
                    #ques
                        p Add Question
                        input(type="text", name="ques", id="quesInput" required)
                    #optionList
                        .options
                            label(for="ans1") Correct Answer
                            br
                            input(type="text", name="ans1" required)
                        .options
                            label(for="ans2") Wrong Answer
                            br
                            input(type="text", name="ans2" required)
                        .options
                            label(for="ans3") Wrong Answer
                            br
                            input(type="text", name="ans3" required)
                        .options
                            label(for="ans4") Wrong Answer
                            br
                            input(type="text", name="ans4" required)
                    button.button(type="submit" name="done") DONE
                    button.button#cancelBtn(type="submit" name="cancelBtn") CANCEL