doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Welcome to Admin Page 
      ul 
        li: a(href='/adminHomePage', id='homebtn') Home

    main

    block content