extends layout

block content
    link(rel='stylesheet', href='/stylesheets/dice.css')
    .container
        h1 Dice Roller
        #dice
            .face.front
                img(src="../images/dice1.png" alt="Dice Face 1")
            .face.back
                img(src="../images/dice2.png" alt="Dice Face 2")
            .face.left
                img(src="../images/dice3.png" alt="Dice Face 3")
            .face.right
                img(src="../images/dice4.png" alt="Dice Face 4")
            .face.top
                img(src="../images/dice5.png" alt="Dice Face 5")
            .face.bottom
                img(src="../images/dice6.png" alt="Dice Face 6")
        button.button#rollButton Roll Dice

    script(src="javascripts/dice.js")
