extends layout
link(rel='stylesheet', href='/stylesheets/dice.css')
block content
    .container
        h1 Dice Roller
        button#rollButton Roll Dice
        #result
            img#diceImage(src="/images/dice0.png" alt="Dice Image")

