doctype html
html
  head
    title Game Details
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
    link(rel='stylesheet', href='/stylesheets/animation.css')
  body
    header
    main
      .mainContainer
        .flip(style='top: 20%; left: 5%;')
          .flipinner
            .flipfront
              img#star1(src="../images/heart.png" alt="")
            .flipback
              img#star1(src="../images/heart.png" alt="")
        .flip(style='top: 20%; right: 5%;')
          .flipinner
            .flipfront
              img#star2(src="../images/heart.png" alt="")
            .flipback
              img#star2(src="../images/heart.png" alt="")
        .flip(style='top: 20%; left: 28%;')
          .flipinner
            .flipfront
              img#star3(src="../images/heart.png" alt="")
            .flipback
              img#star3(src="../images/heart.png" alt="")
        .flip(style='top: 20%; right: 28%;')
          .flipinner
            .flipfront
              img#heart1(src="../images/heart.png" alt="")
            .flipback
              img#heart1(src="../images/heart.png" alt="")
        .flip(style='top: 60%; right: 15%;')
          .flipinner
            .flipfront
              img#heart2(src="../images/heart.png" alt="")
            .flipback
              img#heart2(src="../images/heart.png" alt="")
        .flip(style='top: 60%; left: 15%;')
          .flipinner
            .flipfront
              img#heart3(src="../images/heart.png" alt="")
            .flipback
              img#heart3(src="../images/heart.png" alt="")
          
        #winnerContainer
          h1 Congratulations!
          br
          br
          img#trophy(src="../images/trophy.png", alt="Trophy")
          br
          br
          br
          br
          p The winner is #{winnerName}!
          p For having the highest amount of money: #{totalMoney}!
          br
          br
          button.button(onclick="window.location.href='/homePage'") Home