doctype html
html
  head
    title= title
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        button#loginBtn(onclick="window.location.href='/login'")
          img#login(src="../images/users.png")

    main

    block content
      .block
        h Python Learning System with Life Game 
        br
        br
        button.button(onclick="window.location.href='/playerNo'") START GAME