doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header

    main

    block content
        h Python Learning System with Life Game 
          a(href="/playerNo") Start Game