doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
        link(rel='stylesheet', href='/stylesheets/login.css')
        title Log In
    body 
        .login-container
            h2 Login
            p(style="color: red;") #{error}
            form(action='/login' method='post')
                label(for='user_name') Name
                br
                input#username(type='text' name='user_name')
                br
                label(for='user_password') Password
                br
                input#password(type='password' name='user_password')
                br
                button#login.button(type='submit') LOGIN
                br
                button#cancel.button(onclick="window.location.href='/homePage'") CANCEL