doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
        link(rel='stylesheet', href='/stylesheets/login.css')
        title Log Out
    body
        .login-container
            h2 LOG OUT
            p(style="color: red;") #{error} 
            h2 Are you confirm to log out?
            form(action='/logOUT' method='GET')
                button.button(type='submit') YES
                button.button(onclick="window.location.href='/viewQuestion'") NO