//- views/addPlayers.pug
doctype html
html
  head
    title Add Players
    script.
      function enableInputs(playerCount) {
        for (let i = 1; i <= 4; i++) {
          const input = document.getElementById('p' + i);
          if (i <= playerCount) {
            input.disabled = false;
          } else {
            input.disabled = true;
          }
        }
      }
  body
    form(action="/submitPlayers", method="post")
      h1 Please Insert Players' Names
      #playerInput
        .options
          label(for="p1") Player 1
          br
          input(type="text", name="p1", id="p1" disabled)
        .options
          label(for="p2") Player 2
          br
          input(type="text", name="p2", id="p2" disabled)
        .options
          label(for="p3") Player 3
          br
          input(type="text", name="p3", id="p3" disabled)
        .options
          label(for="p4") Player 4
          br
          input(type="text", name="p4", id="p4" disabled)
      button.btn(type="submit" name="done") DONE
      button.btn#cancelBtn(type="submit" name="cancelBtn") CANCEL
    script.
      enableInputs(!{playersCount})
