extends layout
block content
  script(type="text/javascript")
  .block
    h1 CONGRATULATIONS
    .flip-card
        .flip-card-inner
            .flip-card-front
                img.star(src="../images/star.png" alt="Front")
            .flip-card-back
                img.star(src="../images/star.png" alt="Back")

    h3 You have successfully completed the quiz.
    button.button(onclick="window.location.href='/dice'") Continue
