doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
  body
    header
      h1 Welcome to Admin Page 
      ul 
        li: a(href='/adminHomePage', id='homebtn') Home

    main

        h1 Its Admin Side 