doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap")
  body
    header
      br 
      br
      h1 Welcome to Questions Page 
      br
      #buttonContainer 
        button.button(onclick="window.location.href='/homePage'") Home
        button.button(onclick="window.location.href='/logout'") Log Out

      button.button#newQ(onclick="window.location.href='/addQuestion'") New Question

    main
      #questionsContainer

    

    script(src="javascripts/viewQuestion.js")
